* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 10vh;
    background-color: blue;
    padding: 0;
}
.logo>img {
    width: 50px; /* Ajuste conforme necessário */
    height: auto;
}
h1 {
    text-align: center;
}
.center {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

}
.center>nav>ul{
    display: flex;
    list-style: none;
}

.center>nav>ul>li{
    padding-left: 20px;
    margin-right: 20px;
}
.center>nav>ul>li>a{
    color: white;
    text-decoration: none;
    font-weight: bold;

}

    
    
